<div class="col.lg.12 mt-3">
	



<div class="alert alert-success" col-md-5 mt-3 *ngIf="status == 'success'">
	El registro se ha completado correctamente
</div>
<div class="alert alert-danger" col-md-5 *ngIf="status == 'error'">
	El registro no se ha completado correctamente
</div>

<!--Formulario de Registro-->
<form  #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
	
	<div class="form-gruop">
		<label for ="name">Nombre</label>
		<input type="text" name="name" class="form-control" #name="ngModel" [(ngModel)]="user.name" required pattern="[a-zA-Z]+">
			<small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
				El nombre no es valido	
			</small>

	</div>

		<div class="form-gruop">
		<label for ="nameEmpresa">Nombre de la empresa</label>
		<input type="text" name="nameEmpresa" class="form-control" #nameEmpresa="ngModel" [(ngModel)]="user.nameEmpresa" required pattern="[a-zA-Z]+">
			<small *ngIf="!nameEmpresa.valid && nameEmpresa.touched" class="invalid-feedback d-block">
				El nombre de la empresa no es valido	
			</small>

	</div>
	<div class="form-gruop">
		<label for ="email">Email</label>
		<input type="email" name="email"  class="form-control" #email="ngModel" [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
			<small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
				El Email no es valido	
			</small>

	</div>


		<div class="form-gruop" class="field-wrap">
		<label >Telefono</label>
		<input type="text" name="telefono" class="form-control" #telefono="ngModel" [(ngModel)]="user.telefono" required>
			<small  *ngIf="!telefono.valid && telefono.touched" class="invalid-feedback d-block">
				El telefono no es valido	
			</small>

	</div>

	<div class="form-gruop">
		<label >Categoria</label>
		<input type="text" name="category" class="form-control" #category="ngModel" [(ngModel)]="user.category" required>
			<small  *ngIf="!category.valid && category.touched" class="invalid-feedback d-block">
				La categoria no es valido	
			</small>

	</div>

	



	<div class="form-gruop">
		<label >Mensaje</label>
		<textarea  name="mensaje" class="form-control" #mensaje="ngModel" [(ngModel)]="user.mensaje" ></textarea>

			<small   *ngIf="!mensaje.valid && mensaje.touched" class="invalid-feedback d-block">
				El mensaje no es valido	
			</small>
	</div>



	<br>
	<input type="submit" value="Enviar" class="btn btn-success" [disabled] ="registerForm.invalid"/>

</form>


</div>
