<div class="container">
<!--CABECERA DE LA WEB -->


    <nav class="navbar-dark bg-primary mt-4"> 
        <div class="row">
                <div class="col-sm-12 d-flex justify-content-center">
                    <h1 class="text-center"> Contacto para soporte técnico e información</h1>.
            </div>
        </div>

 
    </nav>


<div>

<router-outlet></router-outlet>
